<body>
  <div role = "login container" class="container-fluid">
    <h1 role = "header" class="row">Login</h1>
    <main>
        <div role = "username input" class="row">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" [(ngModel)]="username">
        </div>

        <div role = "password input" class="row">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="password">
        </div>

        <div role = "Confirm Login Button">
            <button (click)="onLogin()">Login</button>
        </div>
    </main>
  </div>
</body>
